<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Bbs">
	<!-- 패이징 처리: 원하는  -->
	<!-- 전체 게시물 조회 -->
	<select id="selectAll" parameterType="java.util.Map" resultMap="bbsVOResultMap">
		SELECT *
		FROM (
				SELECT rownum rnum ,idx, writer, title, contents, email, readnum, writeday 
				FROM bbs
				ORDER BY writeday
			 )
		WHERE rnum BETWEEN #{startBbs} AND #{endBbs}
	</select>
	<!-- 페이지 개수 -->
	<select id="selectCount" resultType="int">
		SELECT COUNT(idx) FROM BBS
	</select>
	<!-- RESULTMAP -->
	<resultMap type="bbsVO" id="bbsVOResultMap">
		<result column="idx" jdbcType="INTEGER" property="idx" javaType="Integer" />
		<result column="writer" jdbcType="VARCHAR" property="writer" javaType="String" />
		<result column="title" jdbcType="VARCHAR" property="title" javaType="String" />
		<result column="contents" jdbcType="VARCHAR" property="contents" javaType="String" />
		<result column="email" jdbcType="VARCHAR" property="email" javaType="String" />
		<result column="readnum" jdbcType="INTEGER" property="readnum" javaType="Integer" />
		<result column="writeday" jdbcType="DATE" property="writeday" javaType="String" />		
	</resultMap>
	<!-- 연결 테스트용 쿼리-->
	<select id="currentDate" resultType="java.util.Date">
		SELECT SYSDATE FROM dual
	</select>
</mapper>